@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #FFFFFF;
  color: #4A4A4A;
  margin: 0;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.main-container {
  width: 80%;
  margin: auto;
}

.navbar-container {
  width: inherit;
  background-color: #313130;
  color: white;
  padding: 50px 0px 20px 0px;
  transition: background-color 1s;
  .navbar-content {
    width: 80%;
    margin: auto;
    display: flex;
    .element-button {
      margin-right: 80px;
      &:hover {
        color: gray;
      }
    }
  }
  &.fix-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    color: #313130;
    -webkit-box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
    -moz-box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
    box-shadow: 0px 4px 2px -2px rgba(168,165,168,0.58);
  }
}

.banner-container {
  min-height: 270px;
  background-color: #313130;
  color: white;
  padding-top: 30px;
  .banner-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .element-2 {
      margin-left: 40px;
    }
  }
  .my-name {
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
  }
  .my-job {
    font-weight: lighter;
  }
}

.section-title {
  font-family: 'Inconsolata', monospace;
  margin-bottom: 30px;
}

#hello, #resume, #portfolio, #contact-me {
  margin-bottom: 30px;
  margin-top: 50px;
}

#hello {
  .hello-box {
    width: 80%;
  }
}

#resume {
  .part-title {
    color: gray;
      letter-spacing: 3px;
      font-size: 14px;
  }
  .education-part, .experience-part {
    .timeline {
      margin-left: 20px;
      border-left: 1.5px solid #313130;
      padding-left: 40px;
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative;
      .timeline-item {
        padding-bottom: 5px;
        .timeline-content {
          .title {
            margin-bottom: 5px;
            font-size: 14px;
          }
          .year {
            color: #999999;
            margin-bottom: 8px;
            font-size: 12px;
          }
        }
      }
      .timeline-circle {
        border-radius: 50%;
        border: 2px solid #313130;
        background-color: white;
        width: 15px;
        height: 15px;
        position: absolute;
        &.circle-1 {
          top: 0px;
          left: -8px;
        }
        &.circle-2 {
          left: -8px;
          top: 98px;
        }
        &.circle-3 {
          left: -8px;
          top: 196px;
        }
        &.circle-4 {
          left: -8px;
          top: 294px;
        }
        &.circle-5 {
          left: -8px;
          top: 392px;
        }
      }
    }
  }
  .skills-part {
    .skills-type {
      color: gray;
      letter-spacing: 2px;
      font-size: 14px;
    }
    .skills {
      width: 85%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;
      text-align: center;
      .skill {
        margin-right: 20px;
        margin-bottom: 20px;
        img {
          margin-bottom: 10px;
          max-width: 100px;
          max-height: 60px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

}

#portfolio {
  .section-content {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
  }
  .project {
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
    -webkit-box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
    -moz-box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
    box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
    &:hover {
      -webkit-box-shadow: 1px 1px 14px 2px rgba(168,165,168,0.58);
      -moz-box-shadow: 1px 1px 14px 2px rgba(168,165,168,0.58);
      box-shadow: 1px 1px 14px 2px rgba(168,165,168,0.58);
      filter: gray;
      -webkit-filter: grayscale(80%);
    }
    .project-images {
      height: 300px;
      width: 100%;
      position: relative;
      .project-picture {
        position: relative;
        img {
          width: 100%;
          height: 100%;
          opacity: 0.4;
          max-width: 300px;
          max-height: 300px;
          object-fit: cover;
        }
      }
      .project-logo {
        position: absolute;
        img {
          width: 300px;
          opacity: 1 !important;
        }
      }
      .project-handmade-logo {
        position: absolute;
        top: 130px;
        width: 300px;
        text-align: center;
        font-size: 60px;
        color: #E4E4E4;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        opacity: 1 !important;
      }
      .project-picture:hover + .project-links, .project-links:hover {
        display: block;
      }
      .project-links {
        display: none;
        .project-link {
          background-color: white;
          color: #313130;
          letter-spacing: 2px;
          font-size: 14px;
          width: 160px;
          text-align: center;
          position: absolute;
          font-weight: lighter;
          left: 75px;
          padding: 7px 10px 7px 10px;
          border-radius: 7px;
          -webkit-box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
          -moz-box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
          box-shadow: 1px 1px 13px -2px rgba(168,165,168,0.58);
          opacity: 0.8;
          &:hover {
            opacity: 1;
            -webkit-box-shadow: 1px 1px 14px 2px rgba(168,165,168,0.58);
            -moz-box-shadow: 1px 1px 14px 2px rgba(168,165,168,0.58);
            box-shadow: 1px 1px 14px 2px rgba(168,165,168,0.58);
          }
        }
        .project-link1 {
          top: 100px;
        }
        .project-link2 {
          top: 160px;
        }
      }
    }
    .project-text {
      width: 100%;
      padding: 20px 10px 20px 10px;
      h5 {
        font-weight: bold;
      }
      p {
        font-size: 14px;
        font-weight: lighter;
      }
      .skills-used {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        .skill {
          margin: 0px 10px 10px 0px;
          border: 1px solid;
          border-radius: 10px;
          padding: 3px 8px 3px 8px;
        }
      }
    }
    &.vamos-project {
      .project-images {
        background-color: orange;
      }
      .project-logo {
        top: 0px;
      }
      .skill {
        color: orange;
      }
    }
    &.garden-project {
      .project-images {
        background-color: #42F3F3;
      }
      .project-logo {
        top: 100px;
      }
      .skill {
        color: blue;
      }
    }
    &.todolist-project {
      .project-images {
        background-color: #69DE5F;
      }
      .skill {
        color: #69DE5F;
      }
    }
    &.flats-project {
      .project-images {
        background-color: #DD8374;
      }
      .skill {
        color: #DD8374;
      }
    }
    &.gifs-project {
      .project-images {
        background-color: #F7EE6A;
      }
      .skill {
        color: #EEBB33;
      }
    }
    &.quizz-project {
      .project-images {
        background-color: #2636BD;
      }
      .skill {
        color: #2636BD;
      }
    }
  }
}

#contact-me {
  background-color: #313130;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 0px;
  .section-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 44px;
    font-weight: lighter;
  }
  .contact-options {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    i {
      font-size: 30px;
    }
  }
}


@media(min-width: 992px) {

}

@media(min-width: 768px) and (max-width: 932px) {
  .banner-container {
    .banner-content {
      display: inherit;
      .element-1 {
        margin: auto;
        width: 180px;
      }
      .element-2 {
        margin-left: 0px;
        padding-bottom: 30px;
      }
    }
  }
}

@media(max-width: 767px) {
  .navbar-container .navbar-content {
    width: 90%;
    .element-button {
      margin-right: 20px;
    }
  }
  .banner-container {
    .banner-content {
      display: inherit;
      .element-1 {
        margin: auto;
        width: 180px;
      }
      .element-2 {
        margin-left: 0px;
        padding-bottom: 30px;
      }
    }
  }
  #hello {
    .hello-box {
      width: 100%;
    }
  }
  #contact-me {
    .contact-options {
      width: 300px;
    }
  }
}

